{% extends "base.html" %}

    {% block head %}
        <title>Task Master</title>
    {% endblock head %}


    {% block content %}
        <br>
        <div class="content" align="center">
            <h1 style="text-align: center">Update Task</h1>
            <br>
            <form action="/update/{{ task.id }}" method="POST">
                <input type="text" name="content" id="content" value="{{ task.content }}">
                <input type="submit" value="Update Task">
            </form>
        </div>
    {% endblock content %}

